@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  div#__next {
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  body {
    overflow-y: scroll;
  }

  .color-scheme-dark {
    color-scheme: dark;
  }

  .color-scheme-light {
    color-scheme: light;
  }
}
