@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/dist/ReactToastify.css";

.overlay-visible {
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlay-visible #__next {
  height: 100vh;
  overflow: hidden;
}